body {
    font-size: 1em;
    margin: auto;
    font-family: 'Georgia', sans-serif;
    background-image: url(1533326959_low-poly-background-generator-min.png);
    background-size: 100%;
}

header h1 {
    background-color: rgb(51, 255, 0);
    width: 600px;
    margin: auto;
    text-align: center;
    box-shadow: 1px 1px 10px 0px rgb(238, 241, 237);
}
.title {
    box-shadow: 1px 1px 10px 10px rgb(238, 241, 237);
}

.information {
    border: 1px solid rgb(51, 255, 0);
    background-color: rgb(255, 255, 255, 0.5);
    margin: auto;
    width: 600px;
    margin-top: 50px;
    box-shadow: 1px 1px 10px 10px rgb(238, 241, 237);
}

.information-list {
    list-style-type: none;

}

.information-list-item {
    margin: 15px;
    margin-bottom: 40px;
    border-bottom: 1px solid  rgb(255, 255, 255, 0.8);
}

.photo-img {
    display: block;
    width: 60%;
    border: 5px solid rgb(51, 255, 50); 
    border-radius: 50%;
    margin: auto;
    box-shadow: 1px 1px 10px 10px rgb(238, 241, 237);
}

.photo {
    max-width: 400px;
    padding-top: 50px;
    margin: auto;
}

footer {
    background-color: rgb(51, 255, 0);
    text-align: center;
    margin: auto;
    width: 602px;
}